 body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: black;
      color: lime;
      font-family: monospace;
    }

    #clock {
      font-size: 60px;
      margin-bottom: 20px;
    }

    #date {
      font-size: 30px;
      margin-bottom: 10px;
    }

    #greeting {
      font-size: 28px;
      color: yellow;
    }

    .container{
      height: 200px;
      width: 400px;
      background: blue;
      color: white;
      padding: 10px;
      border: 5px solid black;
      border-radius: 8px;
      text-align: center;
    }